body {
  margin: 0;
  font-family: 'Montserrat';
  background: #171624;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 60px 20px;
}

.logo {
  width: 600px;
  max-width: 80%;
  margin-bottom: -34px;
}

.btn {
  display: block;
  margin: 30px auto;
  padding: 25px;
  width: 250px;
  background: #9C7CFF;
  color: #fefefe;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.5s;
  font-size: 22px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #6A4CF5;
  transform: scale(1.05);
}

.personalizado {
  margin: 30px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.frase-destaque {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -15px;
}

.frase-secundaria {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 30px;
}

.estrelas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image:
    radial-gradient(2px 2px at 10% 20%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1.5px 1.5px at 30% 70%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 60% 40%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1px 1px at 80% 80%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1.5px 1.5px at 85% 60%, rgba(255,255,255,0.8), transparent),
    radial-gradient(2px 2px at 35% 40%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1.5px 1.5px at 15% 50%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 5% 80%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1px 1px at 90% 60%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1.5px 1.5px at 70% 30%, rgba(255,255,255,0.8), transparent),
    radial-gradient(2px 2px at 20% 10%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1.5px 1.5px at 70% 30%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 40% 60%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1px 1px at 20% 750%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1.5px 1.5px at 60% 85%, rgba(255,255,255,0.8), transparent),
    radial-gradient(2px 2px at 35% 40%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1.5px 1.5px at 50% 15%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 80% 5%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1px 1px at 60% 90%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1.5px 1.5px at 90% 90%, rgba(255,255,255,0.8), transparent);
}